line-bot-sdk
flask
bs4
requests
gspread
gspread-dataframe
oauth2client
Stock_market_crawler
selenium
selenium.webdriver.support.ui
webdriver_manager.chrome
pandas
pyquery
sklearn.datasets
pygsheets
database_functions
